services:
  # Cache/Broker (Redis or Valkey compatible)
  cache:
    container_name: cache
    image: {{ profile.settings.cache_image }}
    platform: {{ profile.settings.cache_container_platform or env.settings.container_platform }}


    ports:
    - "6379:6379"

    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      start_period: 5s
      start_interval: 0.1s
      interval: 5s
      timeout: 3s
      retries: 5

    volumes:
    - cache_data_valkey:/data

volumes:
  cache_data_valkey:
