---
name: {{ config.docker_compose_project_name }}

include:
{% for compose_file in compose_files %}
  - {{ compose_file }}
{% endfor %}
{% if profile.settings.localstack %}
  - {{ profile.settings.localstack_compose_file }}
{% endif %}

networks:
  qontract-development:
    name: qontract-development
