services:
  internal-certificates:
    image: {{ profile.settings.internal_redhat_ca_image }}
    container_name: internal-certificates
    platform: linux/amd64
    command: |
      sh -c 'cp -r /etc/pki/. /tmp/'
    volumes:
    - pki-volume:/tmp

volumes:
  pki-volume:
